<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="mydb" connectionString="Data Source=(local);Initial Catalog=Sat24Aug;User ID=sa;Password=123;" />
  <add name="Sat24AugConnectionString" connectionString="Data Source=SATYEN78;Initial Catalog=Sat24Aug;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
